*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#F4F8FD;
    color:#163A70;
}

.container{
    width:90%;
    max-width:1300px;
    margin:auto;
}

.header{
    background:#fff;
    box-shadow:0 5px 20px rgba(0,0,0,.05);
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo h2{
    color:#2563EB;
    font-size:30px;
    font-weight:700;
}

.nav-links{
    display:flex;
    list-style:none;
    gap:30px;
}

.nav-links a{
    text-decoration:none;
    color:#163A70;
    font-weight:600;
    transition:.3s;
}

.nav-links a:hover{
    color:#2563EB;
}